body {
  padding: 2em;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
  color: royalblue;
  margin-top: 2em;
  margin-bottom: 1em;
}

p {
  margin-bottom: 0.5em;
}

.color-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  color: white;
  gap: 1em;
}

.color-list > li {
  padding: 1em;
  text-align: center;
}

.color-list li:nth-child(1) {
  background-color: tomato;
}

.color-list li:nth-child(2) {
  background-color: orange;
}

.color-list li:nth-child(3) {
  background-color: dodgerblue;
}

.color-list li:nth-child(4) {
  background-color: mediumseagreen;
}

.color-list li:nth-child(5) {
  background-color: gray;
}

.color-list li:nth-child(6) {
  background-color: slateblue;
}

.color-list li:nth-child(7) {
  background-color: violet;
}

.color-list li:nth-child(8) {
  background-color: lightgray;
}

.color-list-bold {
  font-weight: 700;
}

.color-list.color-list-dark li:nth-child(1) {
  background-color: orangered;
}

.color-list.color-list-dark li:nth-child(2) {
  background-color: darkorange;
}

.color-list.color-list-dark li:nth-child(3) {
  background-color: royalblue;
}

.color-list.color-list-dark li:nth-child(4) {
  background-color: seagreen;
}

.color-list.color-list-dark li:nth-child(5) {
  background-color: dimgray;
}

.color-list.color-list-dark li:nth-child(6) {
  background-color: darkslateblue;
}

.color-list.color-list-dark li:nth-child(7) {
  background-color: darkviolet;
}

.color-list.color-list-dark li:nth-child(8) {
  background-color: darkgray;
}

.color-sample {
  margin-top: 1em;
  margin-bottom: 1em;
}

.yellow-on-green {
  color: yellow;
  background-color: limegreen;
  width: 300px;
  padding: 1em;
  text-align: center;
}

.green-on-red {
  color: limegreen;
  background-color: red;
  width: 300px;
  padding: 1em;
  text-align: center;
}

.purple-on-green {
  color: purple;
  background-color: limegreen;
  width: 300px;
  padding: 1em;
  text-align: center;
}

.red-on-black {
  color: red;
  background-color: black;
  width: 300px;
  padding: 1em;
  text-align: center;
}

.blue-on-red {
  color: blue;
  background-color: red;
  width: 300px;
  padding: 1em;
  text-align: center;
}

.cart-updated {
  display: inline-block;
  color: white;
  background-color: green;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.cart-not-updated {
  display: inline-block;
  color: white;
  background-color: #b51700;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.input-error {
  display: flex;
  justify-content: space-between;
  border: solid red 2px;
  border-radius: 5px;
  padding: 0.5em 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 400px;
}

.input-hint {
  color: gray;
}

.input-error-icon {
  color: red;
}

.coding-books-logo {
  color: red;
  background-color: black;
  width: 200px;
  padding: 0.5em 1em;
  text-align: center;
  font-size: 0.8em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.coding-books-logo-redux {
  color: #ee220c;
  background-color: #002626;
  font-family: "Nunito";
  font-weight: 800;
  width: 200px;
  padding: 0.5em 1em;
  text-align: left;
  font-size: 1.6rem;
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 0.9;
}

.coding-books-logo-symbol {
  font-size: 1.4rem;
  color: white;
}

.coding-books-logo-gray {
  font-size: 1.4rem;
  color: #a9a9a9;
}

.bulleted-list {
  list-style: disc outside none;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 1em;
}

strong {
  color: #222;
}

.book-boxes-low-contrast {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  padding: 1em;
  background-color: #fbf2e4;
  color: #724690;
}

.book-box {
  background-color: #cec5b3;
  padding: 1em;
}

.book-image {
  width: 80px;
  height: 200px;
}

.read-now-button {
  background-color: #6b6182;
  color: #cec5b3;
}

.add-to-cart-button {
  background-color: #724690;
  color: #cec5b3;
}
