body {
  padding: 2em;
}

h1,
h2,
h3,
h4 {
  margin-top: 2em;
  margin-bottom: 1em;
  color: royalblue;
  font-weight: bold;
}

p {
  margin-bottom: 0.5em;
}

.color-list {
  display: grid;
  color: white;

  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1em;
}

.color-list > li {
  padding: 1em;
  text-align: center;
}

.color-list li:nth-child(1) {
  background-color: tomato;
}

.color-list li:nth-child(2) {
  background-color: orange;
}

.color-list li:nth-child(3) {
  background-color: dodgerblue;
}

.color-list li:nth-child(4) {
  background-color: mediumseagreen;
}

.color-list li:nth-child(5) {
  background-color: gray;
}

.color-list li:nth-child(6) {
  background-color: slateblue;
}

.color-list li:nth-child(7) {
  background-color: violet;
}

.color-list li:nth-child(8) {
  background-color: lightgray;
}

.color-list-bold {
  font-weight: 700;
}

.color-list.color-list-dark li:nth-child(1) {
  background-color: orangered;
}

.color-list.color-list-dark li:nth-child(2) {
  background-color: darkorange;
}

.color-list.color-list-dark li:nth-child(3) {
  background-color: royalblue;
}

.color-list.color-list-dark li:nth-child(4) {
  background-color: seagreen;
}

.color-list.color-list-dark li:nth-child(5) {
  background-color: dimgray;
}

.color-list.color-list-dark li:nth-child(6) {
  background-color: darkslateblue;
}

.color-list.color-list-dark li:nth-child(7) {
  background-color: darkviolet;
}

.color-list.color-list-dark li:nth-child(8) {
  background-color: darkgray;
}

.color-sample {
  margin-top: 1em;
  margin-bottom: 1em;
}

.yellow-on-green {
  padding: 1em;
  width: 300px;
  background-color: limegreen;
  color: yellow;
  text-align: center;
}

.green-on-red {
  padding: 1em;
  width: 300px;
  background-color: red;
  color: limegreen;
  text-align: center;
}

.purple-on-green {
  padding: 1em;
  width: 300px;
  background-color: limegreen;
  color: purple;
  text-align: center;
}

.red-on-black {
  padding: 1em;
  width: 300px;
  background-color: black;
  color: red;
  text-align: center;
}

.blue-on-red {
  padding: 1em;
  width: 300px;
  background-color: red;
  color: blue;
  text-align: center;
}

.cart-updated {
  display: inline-block;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  background-color: green;
  color: white;
}

.cart-not-updated {
  display: inline-block;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  background-color: #b51700;
  color: white;
}

.input-error-example {
  display: flex;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;

  gap: 1em;
}

.input-error {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1em;
  width: 400px;
  border: solid red 2px;
  border-radius: 5px;
}

.input-hint {
  color: gray;
}

.input-error-icon {
  color: red;
}

.coding-books-logo {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.5em 1em;
  width: 200px;
  background-color: black;
  color: red;
  text-align: center;
  font-size: 0.8em;
}

.coding-books-logo-redux {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.5em 1em;
  width: 200px;
  background-color: #002626;
  color: #ee220c;
  text-align: left;
  font-weight: 800;
  font-size: 1.6rem;
  font-family: "Nunito";
  line-height: 0.9;
}

.coding-books-logo-symbol {
  color: white;
  font-size: 1.4rem;
}

.coding-books-logo-gray {
  color: #a9a9a9;
  font-size: 1.4rem;
}

.bulleted-list {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 1em;
  list-style: disc outside none;
}

strong {
  color: #222;
}

.book-boxes-low-contrast {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  background-color: #fbf2e4;
  color: #724690;

  gap: 1em;
}

.book-box {
  display: flex;
  padding: 0.75em;
  background-color: #cec5b3;

  gap: 0.75em;
}

.book-image {
  min-width: 130px;
  height: 200px;
  background-color: black;
}

.book-info {
  display: flex;
  flex-direction: column;
  max-width: 25ch;

  gap: 0.25em;
}

.book-title {
  font-weight: bold;
  font-size: 1.1em;
}

.book-author {
  text-decoration: underline;
}

.read-now-button {
  margin-top: auto;
  padding: 0.25em 1em;
  border: none;
  background-color: #6b6182;
  color: #cec5b3;
  text-align: center;
  font-size: 0.8em;
}

.add-to-cart-button {
  padding: 0.5em 1em;
  border: none;
  background-color: #724690;
  color: #cec5b3;
  text-align: center;
}

.book-boxes-low-contrast-fix {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  background-color: #fbf2e4;
  color: #724690;

  gap: 1em;
}

.book-boxes-low-contrast-fix .book-box {
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 2px 6px 0 #6b618288;
}

.book-boxes-low-contrast-fix .book-title {
  font-size: 1em;
}

.book-boxes-low-contrast-fix .book-author {
  color: #6b6182;
  text-decoration: none;
  font-style: italic;
  font-size: 0.9em;
}

.book-boxes-low-contrast-fix .book-price {
  color: #6b6182;
  font-weight: bold;
  font-size: 0.9em;
}

.book-image .read-now-button {
  width: 100%;
  color: #ddd;
}

.book-boxes-low-contrast-fix .add-to-cart-button {
  align-self: flex-end;
  margin-top: auto;
  color: white;
  /* text-transform: uppercase; */
  font-size: 0.8em;
}

.login-widget-0 {
  padding: 1em;
  background: #ccc;
}

.login-widget-0 h2 {
  margin-top: 0;
  margin-bottom: 0.5em;
  color: black;
  font: serif;
}
